/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#define ONE 0
#define TWO 1
#define THREE 2
#define FOUR 3
#define FIVE 4

/ {
        keymap {
                compatible = "zmk,keymap";

                ONE_layer {
// -----------------------------------------------------------------------------------------
// | ESC  |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
// | Tab  |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
// | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  |SFT   |
//                    |2 Ent|BS CT|GUISP|   |CTRSP|ALTENT|3    |
                        bindings = <
   &mt LALT  ESC   &kp Q &kp W &kp E &kp R   &kp T                   &kp Y &kp U  &kp I         &kp O   &kp P    &kp BSPC
   &mt LCTRL TAB   &kp A &kp S &kp D &kp F   &kp G                   &kp H &kp J  &kp K         &kp L   &kp SEMI &kp SQT
   &kp LSHFT       &kp Z &kp X &kp C &kp V   &kp B                   &kp N &kp M  &kp COMMA     &kp DOT &kp FSLH &kp RSHIFT
                   &lt 1 RET   &mt LGUI BSPC &kp SPACE               &kp SPACE    &mt RCTRL RET &mo 2 
                        >;
                };
                TWO_layer {
// -----------------------------------------------------------------------------------------
// | ` 5  |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  |Delete|
// |      |     |     |     |     |     |   |     |     |     |     |  [  |  ]   |
// |SHIFT |CTRL |ALT  |GUI  |     |     |   |     |     | -   | =   |  \  |      |
//                    |     |     |     |   |     |     |     |
                        bindings = <
   &lt 4 GRAVE  &kp N1       &kp N2       &kp N3       &kp N4       &kp N5              &kp N6   &kp N7   &kp N8     &kp N9    &kp N0     &kp DEL
   &mo 3        &trans       &trans       &trans       &trans       &trans              &trans   &trans   &trans     &trans    &kp LBKT   &kp RBKT
   &kp LSHFT    &kp LCTRL    &kp LALT     &kp LGUI     &trans       &trans              &trans   &trans   &kp MINUS  &kp EQUAL &kp BSLH   &trans
                          	               &trans       &trans       &trans              &trans   &trans   &trans
                        >;
                };
                THREE_layer {
// -----------------------------------------------------------------------------------------
// |      | F1  | F2  | F3  | F4  | F5  |   | F6  | F7  | F8  | F9  | F10 |Delete|
// |      |     |     |     |     |     |   |FIVE |     |     |     | UP  |      |
// |      |     |     |     |     |     |   |     |     |     |LEFT |DOWN |RIGHT |
//                    |     |     |     |   |     |     |     |
                        bindings = <
   &trans  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5      &kp F6       &kp F7  &kp F8  &kp F9    &kp F10   &kp DEL
   &trans  &trans  &trans  &trans  &trans  &trans      &mo 5       &trans  &trans  &trans    &kp UP    &trans
   &trans  &trans  &trans  &trans  &trans  &trans      &trans       &trans  &trans  &kp LEFT  &kp DOWN  &kp RIGHT
                           &trans  &trans  &trans      &trans       &trans  &trans
                        >;
                };
                FOUR_layer {
// -----------------------------------------------------------------------------------------
// |      |MUTE |VOLU |PLAY |     |     |   |     |     |     |     |     |      |
// |      |PREV |VOLD |NEXT |     |     |   |     |     |     |     |     |      |
// |      |     |BRTU |BRTD |     |     |   |     |     |     |     |     |      |
//                    |     |     |     |   |     |     |     |
                        bindings = <
   &trans  &kp C_MUTE       &kp C_VOL_UP       &kp C_PLAY       &trans       &trans         &trans &trans &trans  &trans &trans &trans
   &trans  &kp C_PREV       &kp C_VOL_DN       &kp C_NEXT       &trans       &trans         &trans &trans &trans  &trans &trans &trans
   &trans  &trans           &kp C_BRI_UP       &kp C_BRI_DN     &trans       &trans         &trans &trans &trans  &trans &trans &trans
                                               &trans           &trans       &trans         &trans &trans &trans
                        >;
                };
                FIVE_layer {
// -----------------------------------------------------------------------------------------
// |      | BT1 | BT2 | BT3 | BT4 | BT5 |   |     |     |     |     |     |      |
// |      |BTCLR|     |     |     |     |   |     |     |     |     |     |      |
// |      |     |     |     |RESET|BOOT |   |BOOT |RESET|     |     |     |      |
//                    |     |     |     |   |     |     |     |
                        bindings = <
   &trans  &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4        &trans &trans &trans  &trans  &trans &trans
   &trans  &bt BT_CLR   &trans       &trans       &trans       &trans              &trans &trans &trans  &trans  &trans &trans
   &trans  &trans       &trans       &trans       &reset       &bootloader         &bootloader   &reset  &trans  &trans  &trans &trans
                                     &trans       &trans       &trans              &trans &trans &trans
                        >;
                };
        };
};
